{%extends 'dashboard.html' %}
<!--  -->
{% block create_active %} class="side-active" {% endblock %}
<!--  -->
{% block index_active %} class="" {% endblock %}

<!-- ****************************** -->
{% block page_heading %}
<h2>Create New Word</h2>
{% endblock %} {% block main %}
<form
  action="{{ url_for('word_create') }}"
  method="POST"
  class="form-horizontal"
>
  <div class="form-group">
    <label for="word" class="control-label col-sm-2">Word:</label>
    <div class="col-sm-10">
      <input type="text" name="word" class="form-control" id="word" required />
    </div>
  </div>
  <div class="form-group">
    <label for="meaning" class="control-label col-sm-2">Meaning:</label>
    <div class="col-sm-10">
      <textarea name="meaning" id="meaning" rows="10" required> </textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-lg btn-success">Submit</button>
      <a href="{{ request.referrer }}" class="btn btn-lg btn-warning">Cancel</a>
    </div>
  </div>
</form>
{% endblock %}
